a {
  color: #11999E;
  position: relative;
  top: 40px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif; ;
}

div {
  background-color: #F7E9D7;
  margin: 0;
}

hr {
    width: 5%;
    border-style: dotted none none;
    border-width: 7px;
    border-color: #EAF6F6;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  margin: 70PX 70PX 140PX 0PX;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}


.bottom-container {
  background-color: #66BFBF;
  height: 160PX
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -moz-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -ms-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -o-linear-gradient(top, #66BFBF, #2980b9);
  background-image: linear-gradient(to bottom, #66BFBF, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-me {
  height:
}

.cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.linked {
  position: relative;
  right: 200px
}

.mark {
  position: relative;
  top: 30PX;
}

.markfeher {
  color: #EAF6F6;
  margin-top: 100PX;
}

.middle-container {
  margin: 0;
  text-align: center;
  height: 1400PX
}

.pro {
  text-decoration: underline;
}

.program {
  position: relative;
  top: 30PX;
}

.second-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.selftaught {
  color: #40514E;
  width: 19%;
  margin-left: auto;
   margin-right: auto;
}

.skill-row{
  width: 50%;
  margin: 100PX auto 100PX auto;
  text-align: left;
  line-height: 2;
}

.skillstudy {
  width: 25%;
  float: left;
  margin-right: 30px
}

.skillchillies {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.website {
  position: relative;
  left: 200px
}
